.token_amount_badge {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;

    &__icon {
        display: flex;
        min-width: 20px;
    }

    &__label {
        letter-spacing: 0;
        white-space: nowrap;
    }
}
