@import '@/styles/variables.scss';

.chart_wrapper {
    height: 100%;
    position: relative;

    &__legend {
        color: rgb(255 255 255 / 80%);
        font-size: 12px;
        left: 16px;
        position: absolute;
        top: 6px;

        @media only screen and (min-width: $breakpoint-small) {
            left: 24px;
        }
    }
}
