@import '@/styles/variables.scss';

.transactions-list {
    &.list {
        --list-grid-template: minmax(30%, 50%) minmax(80px, 50%);

        min-height: 1px;

        @media (min-width: $breakpoint-small) {
            --list-grid-template: minmax(30%, 50%) minmax(120px, 40%) minmax(120px, 10%);
        }

        @media (min-width: $breakpoint-medium) {
            --list-grid-template: minmax(20%, 50%) minmax(100px, 120px) minmax(180px, 190px) minmax(180px, 190px) minmax(100px, 120px) minmax(100px, 120px);
        }
    }

    &__empty-message {
        padding: 34px;
        text-align: center;

        img {
            height: auto;
            margin: 20px auto;
        }

        h3 {
            font-size: 18px;
            font-weight: 600;
            line-height: 24px;
            margin-bottom: 8px;
        }
    }
}
