.above {
    color: rgb(74 180 74 / 100%);
}

.below {
    color: rgb(235 67 97 / 100%);
}

#market-price-button, 
#lock-button {
    margin: 0;
}

#lock-button {
    height: 21px;
    padding-left: 5px;
    padding-right: 0;
}

#input-div {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: auto auto;
}

#lock-icon {
    height: 21px;
}

#market-price-fieldset {
    height: unset;
}
