.farming-status {
    border-radius: 24px;
    display: inline-block;
    font-size: 12px;
    line-height: 24px;
    padding: 0 8px;
    vertical-align: top;
}

.farming-status_active {
    background: rgb(74 180 74 / 16%);
    color: #4ab44a;
}

.farming-status_ended {
    background: rgb(235 67 97 / 16%);
    color: #eb4361;
}

.farming-status_waiting {
    background: rgb(255 255 255 / 16%);
    color: #fff;
}
