@import '~react-toastify/dist/ReactToastify.min.css';

.Toastify {
    --toastify-toast-width: 400px;
    --toastify-icon-color-default: #fff;

    & &__toast {
        background-color: rgb(25 30 62 / 90%);
        background-image: linear-gradient(90deg, rgb(255 255 255 / 32%) 0%, rgb(255 255 255 / 16%) 50%);
        border-left: 4px solid #fff;
        border-radius: 0;
        box-shadow: 0 8px 16px rgb(43 51 56 / 8%);
        color: #fff;
        font-size: 14px;
        min-height: auto;

        :last-child { margin-bottom: 0; }

        @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            -webkit-backdrop-filter: blur(120px);
            backdrop-filter: blur(120px);
        }
    }

    & &__toast + &__toast {
        margin-top: 4px;
    }

    & &__toast-container {
        padding: 8px !important;
    }

    & &__toast-body {
        align-items: flex-start;
        margin: 0;
    }

    & &__close-button {
        color: #fff;
        outline: 0 none;
    }

    & &__toast-icon {
        margin-top: 3px;
    }

    & &__toast--info {
        --toastify-icon-color-info: #c5e4f3;

        background-image: linear-gradient(90deg, rgb(197 228 243 / 32%) 0%, rgb(255 255 255 / 16%) 50%);
        border-color: #c5e4f3;
        color: #fff;
    }

    & &__toast--success {
        --toastify-icon-color-success: #4ab44a;

        background-image: linear-gradient(90deg, rgb(74 180 74 / 32%) 0%, rgb(255 255 255 / 16%) 50%);
        border-color: #4ab44a;
        color: #fff;
    }

    & &__toast--warning {
        --toastify-icon-color-warning: #e6ac00;

        background-image: linear-gradient(90deg, rgb(230 172 0 / 32%) 0%, rgb(255 255 255 / 16%) 50%);
        border-color: #e6ac00;
        color: #fff;
    }

    & &__toast--error {
        --toastify-icon-color-error: #eb4361;

        background-image: linear-gradient(90deg, rgb(235 67 97 / 32%) 0%, rgb(255 255 255 / 16%) 50%);
        border-color: #eb4361;
        color: #fff;
    }
}

.notification-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 8px;

    + .notification-actions--large {
        margin-top: 4px;
    }
}

.notification-body {
    margin: 8px 0 16px;
}

.notification-actions {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;

    &--large {
        gap: 16px;
        margin-top: 12px;

        .btn-link {
            line-height: normal;
            min-height: auto;
            padding: 0;
        }
    }
}

.notification :last-child {
    margin-bottom: 0;
}

.notification_token-badge {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;

    &__title {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.35px;
        line-height: 24px;
    }

    &:not(:first-child) {
        margin-top: 8px;
    }
}
