@import '@/styles/variables.scss';

.reward_banner {
    &__container {
        background: #1959d7 url('../../../../assets/FQBackground.png') 50% 50%;
        display: flex;
        flex-flow: column wrap;
        gap: 24px;
        margin-bottom: 40px;
        padding: 24px;

        @media only screen and (min-width: $breakpoint-small) {
            align-items: center;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
    }
}
