.alert {
    align-items: center;
    background: rgb(230 172 0 / 48%);
    border-left: 4px solid #e6ac00;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12px;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 auto;
    padding: 0;
    width: 100%;

    &--xsmall { max-width: 400px; }

    &--small { max-width: 520px; }

    &--large { max-width: 1200px; }
}

.section {
    box-sizing: border-box;
    padding: 0;
    width: 100%;

    &__header {
        display: flex;
        flex-flow: row nowrap;
        gap: 10px;
        justify-content: space-between;
        margin: 40px 0 16px;

        &:not(.preserve) {
            @media only screen and (max-width: 639px) {
                flex-flow: column wrap;
                justify-content: flex-start;
            }
        }

        &:first-child {
            margin-top: 0;
        }

        &-link {
            color: #fff;
            display: flex;
            flex-direction: row;
            font-size: 16px;
            font-weight: 500;
            opacity: 0.48;
            outline: none;
            -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
            text-decoration: none;
            transition: 0.25s ease;

            &:hover {
                opacity: 1;
                text-decoration: none;
            }
        }

        &_wrap {
            flex-wrap: wrap;
            row-gap: 1em;
        }

        @media only screen and (min-width: 640px) {
            align-items: flex-end;
            flex-flow: row nowrap;
            justify-content: space-between;
            margin: 64px 0 32px;
            min-height: 44px;
        }
    }

    &__header-actions {
        align-items: center;
        column-gap: 20px;
        display: flex;
        justify-content: space-between;
        > * { width: 100% }
        @media only screen and (min-width: 640px) {
            > * { width: fit-content }
        }
    }

    + .section {
        margin-top: 40px;
        @media only screen and (min-width: 640px) {
            margin-top: 64px;
        }
    }
}

.switcher {
    display: block;

    input { display: none; }

    &__handle {
        background-color: rgb(255 255 255 / 40%);
        border-radius: 8px;
        cursor: pointer;
        display: block;
        height: 16px;
        position: relative;
        transition: background-color 0.25s;
        width: 32px;

        &::after {
            background-color: #fff;
            border-radius: 50%;
            content: '';
            display: block;
            height: 18px;
            left: 0;
            position: absolute;
            top: -1px;
            transition: left 0.25s, width 0.15s;
            width: 18px;
        }

    }

    input:checked + .switcher__handle {
        background-color: #e6ac00;

        &::after { left: 14px; }
    }
}

.divider {
    background: none;
    border-top: 1px solid rgb(255 255 255 / 16%);
    margin: 16px 0;
    opacity: 1;
}

.divider-dashed {
    border-top-style: dashed;
}

.spin {
    animation: rotate 1s linear infinite;
}

.flex-wrap {
    flex-wrap: wrap;
}

.tiles {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(3, 1fr);

    &_twice {
        grid-template-columns: repeat(2, 1fr);
    }

    &_fourth {
        grid-template-columns: repeat(4, 1fr);

        @media only screen and (max-width: 959px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media only screen and (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

ul.summary {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.5px;
    line-height: 20px;
    margin: 16px 0;

    &:last-child {
        margin-bottom: 0;
    }

    &:first-child {
        margin-top: 0;
    }

    li {
        align-items: baseline;
        display: flex;
        justify-content: space-between;
        margin: 0 0 16px;
        row-gap: 16px;

        &.header {
            font-weight: 700;
            padding: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &_space {
        &_sm {
            li {
                margin-bottom: 8px;
            }
        }
    }

    &_compact {
        li {
            column-gap: 16px;
            justify-content: flex-start;
        }

        .summary__key {
            flex-grow: 1;
            flex-shrink: 0;
            max-width: 200px;
            width: 100%;
        }
    }

    &_adaptive {
        @media only screen and (max-width: 959px) {
            li {
                flex-direction: column;
                margin-bottom: 16px;
                row-gap: 4px;
            }
        }
    }

    .summary__value {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@keyframes checking {
    from {
        border: 1px solid rgb(255 255 255 / 16%);
    }

    to {
        border: 1px solid rgb(116 166 255 / 76%);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

:root {
    --global-color: #fff;
    --global-muted-color: rgb(255 255 255 / 64%);
    --global-xsmall-font-size: 13px;
    --base-body-color: #fff;
    --grid-gutter-horizontal: 20px;
    --grid-gutter-horizontal-l: 20px;
    --text-meta-color: rgb(255 255 255 / 64%);
    --text-meta-font-size: 13px;
    --text-muted-color: rgb(255 255 255 / 64%);
    --text-xsmall-font-size: 13px;
}

.tvm-connect-connector {
}


.tvm-connect-modal {
    --tvm-connect-modal-content-background: rgb(40 42 55 / 98%);
    --tvm-connect-modal-title-color: #fff;

    [class*=truncate] {
        padding: 0;
    }

    img {
        display: inline-block;
    }

    .uk-text-center {
        text-align: center;
    }
}

.tvm-connect-drawer {
    --tvm-connect-drawer-content-background: rgb(40 42 55 / 98%);
    --tvm-connect-drawer-title-color: #fff;
    --tvm-connect-modal-content-background: rgb(40 42 55 / 98%);

    [class*=truncate] {
        padding: 0;
    }

    img {
        display: inline-block;
    }

    .uk-text-center {
        text-align: center;
    }
}

.tvm-connect-provider-button {
    --tvm-connect-provider-button-hover-border: #c5e4f3;
}

.tvm-connect-dropdown {
    --tvm-connect-dropdown-background: rgb(40 42 55 / 98%);

    .uk-button-link {
        text-decoration: none !important;
    }
}
