.card {
    background-color: rgb(255 255 255 / 8%);
    border-radius: 6px;
    margin: 0 auto;
    padding: 32px 40px;
    position: relative;
    width: 100%;

    &--ghost {
        background-color: transparent;
        border: 1px solid rgb(255 255 255 / 12%);
    }

    &--small {
        padding: 32px;
    }

    &--xsmall {
        padding: 16px 24px;

        .card__header {
            margin: 32px 0 16px;

            &:first-child {
                margin-top: 0;
            }
        }

        .card-title {
            font-size: 18px;
            line-height: 26px;
        }
    }

    &--flat {
        border-radius: 0;
    }

    &__header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 64px 0 32px;

        &:first-child {
            margin-top: 0;
        }
    }

    @media only screen and (max-width: 767px) {
        padding: 16px;

        &__header {
            margin-bottom: 32px;
            margin-top: 48px;
        }
    }
}

.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0;

    @media only screen and (min-width: 768px) {
        font-size: 28px;
        letter-spacing: 0.25px;
        line-height: 36px;
    }
}
