.tabs {
    align-items: center;
    column-gap: 20px;
    display: flex;
    height: 40px;

    > li {
        position: relative;

        a {
            color: #fff;
            cursor: pointer;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.25px;
            line-height: 20px;
            opacity: 0.48;
            text-decoration: none;
            white-space: nowrap;

            &:hover {
                color: #fff;
                opacity: 1;
            }
        }

        &.active {
            a { opacity: 1; }

            &::after {
                background-color: #fff;
                bottom: -10px;
                content: '';
                display: block;
                height: 1px;
                left: 0;
                position: absolute;
                width: 100%;
            }
        }
    }

    &.size-s {
        height: 36px;

        > li {
            a {
                font-size: 14px;
                letter-spacing: 0.6px;
            }
        }
    }

    &.type-card {
        column-gap: unset;
        height: unset;

        > li {
            &::after {
                display: none;
            }

            &:last-child {
                a {
                    border-width: 1px;
                }
            }

            &.active {
                a {
                    background: #fff;
                    color: #000;
                }

                + li {
                    a {
                        border-left: none;
                    }
                }
            }
        }

        a {
            display: block;
            padding: 0.4em 0.8em;
            opacity: 1;
            border: 1px solid rgba(255,255,255,0.16);
            border-width: 1px 0 1px 1px;
        }
    }
}
