.text-muted,
.text-muted a {
    color: rgb(255 255 255 / 64%);
}

.text-success {
    color: #4ab44a;
}

.text-warning {
    color: #e6ac00;
}

.text-danger {
    color: #eb4361ff;
}

.text-lg {
    font-size: 18px;
    letter-spacing: 0.15px;
    line-height: 24px;
}

.text-sm {
    font-size: 12px;
    line-height: 18px;
}

.text-bold {
    font-weight: 700;
}

.text-nowrap {
    white-space: nowrap;
}

.text-truncate {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-heading {
    margin-bottom: 8px;
}

[class*='truncate'] {
    display: inline-block;
    overflow: hidden;
    padding: 0 5px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.truncate-name { max-width: 120px; }
