@import 'variables';

[hidden],
.hidden {
    display: none !important;
}

/* Phone landscape and bigger */
@media (max-width: $breakpoint-small) {
    .hidden\@s { display: none !important; }
}

/* Tablet landscape and bigger */
@media (max-width: $breakpoint-medium) {
    .hidden\@m { display: none !important; }
}

/* Desktop and bigger */
@media (min-width: $breakpoint-large) {
    .hidden\@l { display: none !important; }
}

/* Large screen and bigger */
@media (min-width: $breakpoint-xlarge) {
    .hidden\@xl { display: none !important; }
}

/* Phone portrait and smaller */
@media (max-width: $breakpoint-xsmall-max) {
    .visible\@s { display: none !important; }
}

/* Phone landscape and smaller */
@media (max-width: $breakpoint-small-max) {
    .visible\@m { display: none !important; }
}

/* Tablet landscape and smaller */
@media (max-width: $breakpoint-medium-max) {
    .visible\@l { display: none !important; }
}

/* Desktop and smaller */
@media (max-width: $breakpoint-large-max) {
    .visible\@xl { display: none !important; }
}

.invisible { visibility: hidden !important; }
