.list {
    .table {
        --list-grid-template: minmax(200px, 25%) 75px 110px 110px 110px 110px 150px 150px;
        min-height: unset;

        :global(.list__cell) {
            min-width: 0;
            white-space: normal;
            word-break: break-word;
        }
    }

    .pagination {
        margin: 0;
    }

    .noData {
        --list-grid-template: 1fr;
    }
}

.body {
    position: relative;
}

.spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.gauge {
    display: flex;
    align-items: center;
    grid-gap: 8px;
}

.dataSpinner {
    opacity: 0.3;
}

.title {
    justify-content: space-between !important;
}

.status {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: rgba(255,255,255,0.05);
    }

    &.active::after {
        background: #4ab44a;
    }

    &.waiting::after {
        background: #e6ac00;
    }

    &.ended::after {
        background: #EB4361;
    }
}
