.breadcrumb {
    color: rgb(255 255 255 / 75%);
    display: flex;
    flex-direction: row;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 32px;

    li {
        white-space: nowrap;

        &:not(:last-child) {
            margin-right: 30px;
            position: relative;

            &::after {
                border: 5px solid transparent;
                border-left-color: rgb(255 255 255 / 75%);
                content: '';
                display: block;
                margin-top: -5px;
                position: absolute;
                right: -23px;
                top: 50%;
            }
        }

        a {
            color: rgb(255 255 255 / 48%);
            text-decoration: none;

            &:hover { color: #fff; }
        }

        span {
            color: #fff;

            > span {
                margin-left: 10px;
                opacity: 0.8;
            }
        }
    }
}
