.qubeSpeed {
    .table {
        --list-grid-template: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr);
        min-height: unset;

        :global(.list__cell) {
            min-width: 0;
            white-space: normal;
            word-break: break-word;
        }

        a {
            color: #C5E4F3;
            text-decoration: none;
        }
    }

    .pagination {
        margin: 0;
    }

    .noData {
        --list-grid-template: 1fr;
    }
}

.body {
    position: relative;
}

.spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
