.chart {
    display: flex;
    flex-grow: 1;
    height: 100%;
    position: relative;

    .chart-holder {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    &--loading,
    &--no-data {
        align-items: center;
        justify-content: center;

        > *:not(.chart__no-data-message, .chart-loader) {
            display: none;
        }
    }

    &__no-data-message {
        opacity: 0.64;
    }

    .chart-loader {
        min-height: 100%;
    }
}
