.header {
    align-items: center;
    display: flex;
    gap: 40px;
    justify-content: space-between;

    .navbar {
        justify-content: space-between;

        .navbar-item,
        .navbar-toggle {
            min-height: 64px;
        }
    }

    .btn-open-drawer {
        padding: 8px;
    }

    .header-switchers {
        align-items: center;
        display: flex;
        gap: 24px;
        justify-content: space-between;
    }
}
