@import '@/styles/mix';

.banner {
    position: relative;
    margin: 0 0 40px;
    padding: 32px;
    background: rgba(173, 144, 233, 0.12);
    text-align: center;
    overflow: hidden;

    &::after,
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;
        pointer-events: none;
    }

    &::after {
        background-position: top right;


        @media (max-width: 959px) {
            background-position: calc(100% + 100px) 0;
        }

        @media (max-width: 639px) {
            background-position: top;
            background-size: cover;
        }
    }

    &::before {
        background-position: top left;

        @media (max-width: 959px) {
            background-position: -100px 0;
        }

        @media (max-width: 639px) {
            display: none;
        }
    }

    &.new {
        &::after {
            background-image: url('./img/new-right.png');
        }

        &::before {
            background-image: url('./img/new-left.png');
        }
    }

    &.old {
        &::after {
            background-image: url('./img/old-right.png');
        }

        &::before {
            background-image: url('./img/old-left.png');
        }
    }
}

.title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    margin: 0 0 8px;
}

.text {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.25px;
    margin: 0 0 24px;
}

.actions {
    display: inline-flex;
    align-items: center;
    grid-gap: 12px;
    justify-content: center;
    min-width: 344px;

    @media (max-width: 639px) {
        flex-direction: column;
        min-width: unset;
        width: 100%;
    }
}

.close {
    @include btn-reset;

    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.48);

    &:hover {
        color: #fff;
    }
}

.btn {
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
}
