@import '@/styles/variables.scss';

.balance {
    &__container {
        display: flex;
        flex-flow: column wrap;
        gap: 20px;

        @media only screen and (min-width: $breakpoint-medium) {
            flex-flow: row nowrap;
        }
    }

    &__content {
        min-width: 1px;
        width: 100%;
    }

    &__sidebar {
        @media only screen and (min-width: $breakpoint-medium) {
            min-width: 300px;
            width: 300px;
        }
        @media only screen and (min-width: $breakpoint-large) {
            min-width: 360px;
            width: 360px;
        }
    }

    &__featured_deposit_trigger {
        background-color: rgb(5 11 46 / 64%);
        bottom: 0;
        left: 0;
        position: fixed;
        width: 100%;
        z-index: 100;

        :global {
            .card { background: none }
        }

        @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            -webkit-backdrop-filter: blur(32px);
            backdrop-filter: blur(32px);
            background: linear-gradient(0deg, rgb(5 11 46 / 12%), rgb(5 11 46 / 12%)), rgb(255 255 255 / 12%);
        }
    }
}
