@import '@/styles/variables.scss';

.epoch {
    &__page_header_grid {
        align-items: center;
        display: flex;
        gap: 8px;
    }

    &__page_header_grid__actions {
        > * {
            justify-content: center;
            width: 100%;

            @media only screen and (min-width: $breakpoint-small) {
                justify-content: space-between;
                width: auto;
            }
        }
    }
}
