@import '~@/styles/index.scss';

.wrapper {
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    overflow-x: hidden;
    padding-top: 64px;
    position: relative;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 32px 16px;
    width: 100%;

    @media (min-width: $breakpoint-medium) {
        padding: 72px 16px;
    }
}
