@import '~@/styles/_mix';

.pagination {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 16px;

    &__txt {
        font-size: 14px;
        letter-spacing: 0.75px;
        line-height: 20px;
    }

    &__input {
        @include input-reset;

        border: 1px solid rgb(255 255 255 / 16%);
        color: #fff;
        cursor: unset;
        font-size: 14px;
        height: 40px;
        letter-spacing: 0.75px;
        line-height: 20px;
        text-align: center;
        width: 64px;

        &:focus { border-color: rgb(197 228 243 / 64%); }
    }

    &__btn.btn {
        background-color: rgb(197 228 243 / 16%);
        border: none;
        border-radius: 0;
        color: #c5e4f3;
        height: 40px;
        opacity: 1;
        outline: none;
        padding: 0;
        width: 40px;

        &:hover:not(:disabled) {
            background-color: #c5e4f3;
            color: #293166;
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
            transition: none;
        }
    }
}
