@import '~@/styles/_mix';

.text-input {
    @include input-reset;

    box-sizing: border-box;
    color: #fff;
    cursor: text;
    flex: 1;
    font-size: 14px;
    height: 36px;
    padding: 0 12px;

    &::placeholder {
        color: rgb(255 255 255 / 56%);
    }

    &:disabled {
        color: rgba(255, 255, 255, 0.32);
        background: rgba(0, 0, 0, 0.08);
        cursor: not-allowed;
    }

    &_wrapper {
        align-items: center;
        border: 1px solid rgb(255 255 255 / 16%);
        box-sizing: border-box;
        display: flex;
        flex-flow: row nowrap;
        gap: 4px;

        &--dirty {
            border-color: rgb(255 255 255 / 24%);
        }

        &--invalid {
            border-color: #eb4361;
        }
    }

    &_input,
    &_prefix,
    &_suffix {
        box-sizing: border-box;
        display: inline-flex;
        max-width: 100%;
        width: 100%;
    }

    &_input {
        flex: 1;
        min-width: 1px;

        &:not(:last-child) {
            > .text-input { padding-right: 4px }
        }
    }

    &_prefix {
        padding-left: 12px;
        width: auto;

        + .text-input_input .text-input {
            padding-left: 4px;
        }
    }

    &_suffix {
        padding-right: 4px;
        width: auto;
    }

    &_size {
        &_small {
            height: 36px;
        }

        &_medium {
            height: 44px;
        }
    }
}
