.popup__wrap-confirm-p2p {
    .alert {
        background-color: #eb43617a;
        border-left-color: #eb4361;
        column-gap: 20px;
        font-size: 12px;
        line-height: 14px;
        margin: 20px 0;
    }
}
